                /**
 * @name SkylarCord
 * @author skylar#0007
 * @description uwu
 * @source https://github.com/skywur
 * @website https://skywur.cc
*/

@import url(https://celestialreaver.github.io/BetterDiscord/themes/base/hljs.css);
@import url("https://saltssaumure.github.io/misc-discord-themes/snippets/SettingsAsOverlay.css");


:root {
    --color-1: rgb(102, 250, 255);
    --color-2: rgb(255, 102, 247);
}
                
.item-1OdjEX {
    transition: 0.3s;
}

.grabber-2GQyvM:hover {
    transition: 0.3s;
    transform: scale(125%);
}

.barFill-2Bh7CX {
    background: linear-gradient(to right, var(--color-1), var(--color-2), var(--color-1));
    background-size: 200%;
    animation: rainbow 2s linear infinite;
}

.container-1zzFcN .inner-llGtyq .rtcConnectionStatus-c5A6Av .ping-2IpLcU {
    fill: linear-gradient(to right, var(--color-1), var(--color-2), var(--color-1));
}

.rtcConnectionStatusConnected-1c73OK {
    color: transparent;
    background: linear-gradient(to right, var(--color-1), var(--color-2), var(--color-1));
    background-size: 200%;
    animation: rainbow 2s linear infinite;
    -webkit-background-clip: text;
    filter: brightness(110%);
}
/*
.container-1zzFcN .inner-llGtyq .rtcConnectionStatus-c5A6Av .ping-2IpLcU {
    color: red;
}
*/
.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx::before,
.button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx::before {
    content: '';
    width:100%;
    height:100%;
    position:absolute;
    background: linear-gradient(to right, var(--color-1), var(--color-2), var(--color-1));
    background-size: 200%;
    animation: rainbow 2s linear infinite;
    z-index: -1;
    padding:5px;
    border-radius: inherit;
}

.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx,
.button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx {
    border: 3px solid transparent;
    background:#36393f;
    color:white;
} 

.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx:hover, .button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx:hover {
    background:transparent;
}

.button-1EGGcP.buttonColor-3bP3fX.buttonActive-Uc1jHx::after,
.button-1EGGcP .buttonColor-3bP3fX.buttonActive-Uc1jHx::after {
    position:absolute;
    width:100%;
    height: 100%;
    color: transparent;
    background: linear-gradient(to right, var(--color-1), var(--color-2), var(--color-1));
    background-size: 200%;
    animation: rainbow 2s linear infinite;
    -webkit-background-clip: text;
    z-index: 2;
}
.wordmarkWindows-2dq6rw {
    color:transparent;
}

.wordmarkWindows-2dq6rw::before {
    content: '❤'; 
    height: 100%;
    width: 110%;
    position: absolute;
    top: 1px;
    left: 0;
    padding: 4px 9px 3px;
    color: transparent;
    background: linear-gradient(to right, var(--color-1), var(--color-2), var(--color-1));
    background-size: 200%;
    animation: rainbow 2s linear infinite;
    -webkit-background-clip: text;
    font-size: 15px;
    font-weight: bolder;
}

.wordmarkWindows-2dq6rw::after {
    content: 'SkylarCord';
    height: 100%;
    width: 110%;
    position: absolute;
    top: 0;
    left: 15px;
    padding: 4px 9px 3px;
    color: transparent;
    background: linear-gradient(to right, var(--color-1), var(--color-2), var(--color-1));
    background-size: 200%;
    animation: rainbow 2s linear infinite;
    -webkit-background-clip: text;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
}

.winButtonClose-3Q8ZH5 {
    transition: 0.3s;
    color: transparent;
}
.winButtonClose-3Q8ZH5::after {
    content: '❤'; 
    color: rgb(255, 102, 247);
    position: absolute;
    width:100%;
    height:90%;
    text-align: center;
    top:20%;
    transition: 0.3s;
}

.winButtonClose-3Q8ZH5:hover::after, .winButtonClose-3Q8ZH5:hover {
    color: white;
    background: rgb(255, 102, 247);
    font-weight: bold;
}




/*
.theme-dark .mention {
    padding: 0 4px;
    border-radius: 5px;
    line-height: 22px;
    font-weight: 500;
    white-space: nowrap;
    transition: all .15s ease-in-out;
    cursor: pointer;
    background: linear-gradient(to right, rgba(102, 250, 255, .3), rgba(255, 102, 247, .3), rgba(102, 250, 255, .3));
    color: rgba(255, 255, 255, .7);
    animation: rainbow 2s linear infinite;
    background-size: 200%;
}

.theme-dark .mention:hover {
    background: linear-gradient(to right, rgba(102, 250, 255, .5), rgba(255, 102, 247, .5), rgba(102, 250, 255, .5));
    color: #fff;
    animation: rainbow 2s linear infinite;
    background-size: 200%;
}
*/

@keyframes rainbow {
    to {
        background-position: 200% center;
    }
}
/*
@keyframes rainbow2 {
    0% {
        box-shadow: -5px 0px 3px 5px rgba(78, 193, 197, 0.1), 5px 0px 3px 5px rgba(183, 73, 178, 0.1);
    }
    50% {
        box-shadow: 5px 0px 3px 5px rgba(78, 193, 197, 0.1), -5px 0px 3px 5px rgba(183, 73, 178, 0.1);
    }
    100% {
        box-shadow: -5px 0px 3px 5px rgba(78, 193, 197, 0.1), 5px 0px 3px 5px rgba(183, 73, 178, 0.1);
    }
}
*/
                
.rtcConnectionQualityFine-3zZrSa .pingForeground-1BRBTc {
    color: #66faff;
    animation: svgrainbow 2s linear infinite;
}

@keyframes svgrainbow {
    0% {
        color: var(--color-1);
    }
    50% {
        color: #66faff;
    }
    100% {
        color: var(--color-1);
    }
}
/*
.activityText-ev7Z1T {
    text-shadow: -1px 1px 0 #ff23f4, 1px -1px 0 #4D7FFF, 0 0 4px rgba(255, 255, 255, 1);
    animation: hueshift 6s infinite;
}

.customStatus-kFfkj5 {
    text-shadow: -1px 1px 0 #E123FF, 1px -1px 0 #4D7FFF, 0 0 9px rgba(255, 255, 255, 1);
    animation: hueshift 2s infinite;
}

@keyframes hueshift {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}
*/
/*
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.pinned-0lM4wD:nth-of-type(2n) .overflow-1wOqNV {
    color: white;
    text-shadow: -1px 1px 0 #ff8bf9, 1px -1px 0 #d353fa, 0 0 4px rgba(255, 255, 255, 1);
    font-family: 'Pacifico', cursive;
    font-weight: bolder;
    letter-spacing: 0.2vw;
}

.pinned-0lM4wD:nth-of-type(2n) .avatarStack-3vfSFa {
    clip-path: path('M 50 175 L 0 100 Q 25 50 50 100 Q 75 50 100 100')
}
*/

.pictureInPictureVideo-2puO2Q  {
    display:none;
}



